.contenedorimg{
    position: relative;
    display: inline-block;
    text-align: left;
    width:"100%"
}
 

.centrado{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}